*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right 800px, top left 800px;
    background-size: cover, cover;
    overflow: hidden;
    background-color: hsl(185, 75%, 39%);
    font-family: kumbh sans;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-cointeiner{
    width: 330px;
    height: fit-content;
    background-color: white;
    border-radius: 15px;
}

.upper-Card{
    width: 330px;
    height: 140px;
    background: url(./images/bg-pattern-card.svg);
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

img{
    width: 110px;
    height: 110px;
    border: 5px solid white;
    border-radius: 50%;
    display: block;
    margin: -50px auto -30px auto;
    
}
.card-body{
    text-align: center;
    margin-top: 30px;
    color: hsl(227, 10%, 46%);
    margin-top: 50px;
}

span{
    color:hsl(229, 23%, 23%);
    font-weight: 700;
}
 p{
    font-size: 14px;
    margin: 8px auto 25px auto;
 }

.act-cointeiner{
    border-top: 1px solid hsla(227, 10%, 46%, 0.195);
    text-align: center;
    display: flex;
    align-content: center;
    justify-content:space-between;
    line-height: 20px;
    padding: 25px 50px 20px 50px;
    color:hsl(229, 23%, 23%);
 }
 .act-cointeiner > div{
    width: 60px;
    height: 40px;
 }
.activity{
    font-size: 10px;
    font-weight: 300;
    color: hsl(227, 10%, 46%);
    letter-spacing: 2px;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }